
.map-container {
    height: 100vh;
    width: 100vw;
    margin-bottom: -100px;
}

.focus-icon {
    position: absolute;
    right: 5px;
    top: 160px;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
}

.map-unit {
    background-image: url('../images/unit.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
}

.map-unit0 {
    background-image: url('../images/unit.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgba(211, 12, 178, 0.699);
    border-style: solid;
}

.map-unit1 {
    background-image: url('../images/unit.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgba(192, 111, 6, 0.795);
    border-style: solid;
}

.map-unit2 {
    background-image: url('../images/unit.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgba(0, 119, 255, 0.74);
    border-style: solid;
}

.map-unit3 {
    background-image: url('../images/unit.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgba(228, 224, 3, 0.822);
    border-style: solid;
}

.map-unit4 {
    background-image: url('../images/unit.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgba(40, 219, 4, 0.74);
    border-style: solid;
}

.map-unit-danger {
    background-image: url('../images/danger.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
}

.map-unit-inactive {
    background-image: url('../images/inactive.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.mapboxgl-ctrl-attrib {
    display: hidden !important;
    visibility: hidden;
}

.mapboxgl-ctrl-logo {
    display: hidden !important;
    visibility: hidden;
}





