.gallery-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: auto;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

.gallery-header {
    height: 25%;
    width: 100%;
}

.items-container {
    width: 80%;
    height: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;   
    flex-wrap: wrap;

}

.gallery-item {
    width: 160px;
    height: 100px;
    --aug-border-bg: linear-gradient(to bottom, rgba(43,237,230,0.25) 10%, rgba(43,237,230,0) 100%);
    --aug-border-all: 1px;
    background: linear-gradient(to bottom, rgba(43,237,230,0.05) 0%, rgba(43,237,230,0.1) 100%);
}
