.map-container {
  height: 100vh;
  width: 100vw;
  margin-bottom: -100px;
}

.mapboxgl-ctrl-attrib {
  display: hidden !important;
  visibility: hidden;
}

.mapboxgl-ctrl-logo {
  display: hidden !important;
  visibility: hidden;
}

.msgs-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 97vh;
    background: rgba(1, 7, 8, 0.767);
    border: 2px solid rgba(0, 7, 7, 0.904);
    display: block;
    overflow: auto;
    z-index: 10;
}

.msg {
  width: 100%;
  height: 50px;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.msg:hover {
  background-color:rgba(44, 1, 1, 0.781);
}

.msg img {
  width: 30px;
  height: 30px;

}

.msg span {
  font-family: 'Righteous', cursive;  
  color:  rgba(255, 255, 255, 0.877);
  font-weight: 400;
  font-size: 20px;

}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(1, 7, 8, 0.767);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(44, 1, 1, 0.781);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
