
.control-container {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attack-icon {
  top: 110px;
  left: 410px;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.video-icon {
  top: 365px;
  left: 410px;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.audio-icon {
  right: 110px;  
  top: 110px;
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.stop-icon {
  top: 370px;
  right: 110px;  
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.ctrl-svg {
  height: 60%;
  width: 60%;
}

.st0, .st1, .st2, .st3 {
  fill: none;
  stroke: rgb(25, 158, 154);
  stroke-width: 42;
  stroke-miterlimit: 10;
}

.st0 {
  stroke-dasharray: 12.1947,12.1947,12.1947,12.1947,12.1947,12.1947;
}

.st1 {
  stroke-dasharray: 50,90,200,30,40,0;
}

.st2 {
  stroke-linecap: square;
  stroke-dasharray: 120, 20, 110, 20, 140;
}

.st3 {
  stroke-width: 16;
  stroke-linecap: square;
}