{
    "units": [
        {
            "ip": "10.0.0.1",
            "name": "Yosry"
        },
        {
            "ip": "12.2.3.2",
            "name": "Yosry"
        },
        {
            "ip": "150.150.120.120",
            "name": "Yosry"
        },
        {
            "ip": "90.80.70.60",
            "name": "Yosry"
        }
    ]
}
